extends layout

block content
  titleh1(style='color:red;')= head
  h1(style='color:red;')= title
  p=Unlock
  p=Stats
  p=statsName
  p=Team
  P=id
  p=Character
  p=Battle

  style.

            titleh1 {font-size:350%; color: red; text-align: right}
            h1 {color: red;}
            p {color: black;}
